@model GitHub.User.Api.Models.User

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">User Details <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-4">
                    <img alt="@Model.Name" height="20" src="@Model.AvatarUrl" width="20" class="img-thumbnail">
                </div>

                <div class="col-sm-4 col-md-4">
                    <h2>@Html.DisplayNameFor(model => model.Name)</h2>
                    <p>@Html.DisplayFor(model => model.Name)</p>
                </div>
                <div class="col-sm-4 col-md-4">
                    <h2>@Html.DisplayNameFor(model => model.Location)</h2>

                    <p>@Html.DisplayFor(model => model.Location)</p>
                </div>
            </div>
        </div>
    </div>
    @if (Model.RepoList.Count == 0)
    {
        <h3 class="text-error">No items matched your search query!</h3>
    }
    else
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Repository Name</th>
                    <th>Url</th>
                    <th>Stargazer Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var repo in Model.RepoList)
                {
        
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => repo.Name)
                        </td>
                        <td>
                            <a href="@repo.HtmlUrl" target="_blank">@Html.DisplayFor(modelItem => repo.HtmlUrl)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => repo.StargazersCount) <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </td>
                    </tr>
        
    
                }

            </tbody>
        </table>
    }
</div>
